<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
</head>
<body>
    <header> 
        <h1> Moped Storage </h1>
    </header>
    <main>
        <h2><%= header %></h2>
       <div class="singleResult" >
        <form action="<%= action %>" method="POST">
            <p>
                <label for="mopedId"> MopedId<input type="number" mopedId="mopedId" name="mopedId" size="5"></label>
            </p>

            <div class="mbtn">
                <button class="btn" type="submit">Submit</button>
                <a href="/"><button class="btn">Menu</button></a>
            </div>

        </form>
       </div>
      
    </main>
    <div className="footerWrapper">
        <footer>
            <p>Femi Adesola &copy; 2021</p>
        </footer>
    </div>
</body>
</html>



